TENANCY_OCID             = ocid1.tenancy.oc1..xxxxx
OBJECT_STORAGE_NAMESPACE = ixfl...
COMPARTMENT_OCID         = ocid1.compartment.oc1..xxxxx
USER_OCID                = ocid1.user.oc1..xxxxxxx
REGION                   = us-ashburn-1  (o la tuya, ej: sa-bogota-1)
VCN_OCID                 = (lo obtienes en Fase 1)
SUBNET_OKE_OCID          = (lo obtienes en Fase 1)
SUBNET_LB_OCID           = (lo obtienes en Fase 1)
SUBNET_BASTION           = (lo obtienes en Fase 1)
MT_OCID                  = (Mount Target, Fase 2)
EXPORT_PATH              = /filestore
MT_IP                    = (Mount Target, Fase 2)
OKE_CLUSTER_OCID         = (lo obtienes en Fase 3)
OCIR_REPO                = (lo obtienes en Fase 6)
IMAGE_TAG                = v1.0